
<th:block th:fragment="frag-delete-modal">
    <div class="modal-header">
        <h5 class="modal-title font-weight-bold">ELIMINAR FACTURA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" id="delete-invoice">Borrar</button>
    </div>
</th:block>