<th:block th:fragment="frag-invoice-send-modal">
    <div class="modal-header">
        <h5 class="modal-title font-weight-bold">ENVIAR FACTURA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="send-name" class="font-weight-bold">Nombre</label>
                    <input type="text" class="form-control form-control-sm" id="send-name" placeholder="Nombre del cliente" th:value="${invoice != null ? invoice.getName() : ''}" readonly>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="send-nif" class="font-weight-bold">N.I.F.</label>
                    <input type="text" class="form-control form-control-sm" id="send-nif" placeholder="Número de identificación fiscal" th:value="${invoice != null ? invoice.getNif() : ''}" readonly>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="send-address" class="font-weight-bold">Dirección</label>
                    <input type="text" class="form-control form-control-sm" id="send-address" placeholder="Dirección" th:value="${invoice != null ? invoice.getAddress() : ''}" readonly>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="send-zip-code" class="font-weight-bold">Cód. Postal</label>
                    <input type="text" class="form-control form-control-sm" id="send-zip-code" placeholder="Código Postal" th:value="${invoice != null ? invoice.getZip_code() : ''}" readonly>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="send-state" class="font-weight-bold">Provincia</label>
                    <input type="text" class="form-control form-control-sm" id="send-state" placeholder="Provincia" th:value="${invoice != null ? invoice.getState() : ''}" readonly>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-sm-2 my-1 font-weight-bold">
                        <span>Cant.</span>
                    </div>
                    <div class="col-sm-8 my-1 p-0 font-weight-bold">
                        <span>Descripción</span>
                    </div>
                    <div class="col-sm-2 my-1 font-weight-bold">
                        <span>Precio</span>
                    </div>
                </div>
                <th:block th:if="${invoice != null}">
                    <th:block th:each="invoiceLine, iter : ${invoice.getLines()}">
                            <div th:data-lines="${iter.index}" class="row">
                                <div class="col-sm-2 my-1 h-100">
                                    <input type="text" class="form-control form-control-sm border border-secondary" th:value="${invoiceLine.getQuantity()}" readonly>
                                </div>
                                <div class="col-sm-8 my-1 p-0 text-justify">
                                    <div class="border border-secondary rounded p-1" th:text="${invoiceLine.getDescription()}" readonly></div>
                                </div>
                                <div class="col-sm-2 my-1 h-100">
                                    <input type="number" class="form-control form-control-sm border border-secondary" min="0" step=".01" th:value="${invoiceLine.getPrice()}" readonly>
                                </div>
                            </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
</th:block>